@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: orangered;
}

.--flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.--fw-thin {
    font-weight: 200;
}

.--btn {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  .--btn:hover {
    transform: translateY(-2px);
  }
  
  .--btn-lg {
    padding: 8px 10px;
  }
  
  .--btn-block {
    width: 100%;
  }

.--btn-primary {
    color: #fff;
    background: #007bff;
  }

  .--btn-secondary {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
  }
  .--btn-danger {
    color: #fff;
    background: orangered;
  }
  
  .--btn-success {
    color: #fff;
    background: #28a745;
  }
  
  .--btn-red {
    color: #fff;
    background: rgba(189, 9, 9, 0.847);
  }

  .--hr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  .react-multiple-carousel__arrow{
    z-index: 10;
  }

  /* Flex */
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.--p {
  padding: 1rem;
}

/* Center All */
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Flex */
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.--flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.--flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--dir-column {
  flex-direction: column;
}

.--flex-dir-column {
  display: flex;
}

.--align-center {
  display: flex;
  align-items: center;
}

.--100vh {
  height: 100vh;
}

.--mh-100vh {
  min-height: 100vh;
}


/* Margin */
.--m {
  margin: 1rem;
}
.--ml {
  margin-left: 1rem;
}
.--mr {
  margin-right: 1rem;
}

.--mb {
  margin-bottom: 1rem;
}

.--my {
  margin: 1rem 0;
}
.--mx {
  margin: 0 1rem;
}

.--m2 {
  margin: 2rem;
}

.--ml2 {
  margin-left: 2rem;
}
.--mr2 {
  margin-right: 2rem;
}

.--mb2 {
  margin-bottom: 2rem;
}

.--my2 {
  margin: 2rem 0;
}

.--mx2 {
  margin: 0 2rem;
}

.--underline {
  border-bottom: 1px solid #ccc;
}


/* Center All */
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
}


.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 26px;
  width: 100%;
  font-size: 12px;
}


