@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

.--flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.--fw-thin {
    font-weight: 200;
}

.--btn {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  .--btn:hover {
    transform: translateY(-2px);
  }
  
  .--btn-lg {
    padding: 8px 10px;
  }
  
  .--btn-block {
    width: 100%;
  }

.--btn-primary {
    color: #fff;
    background: #007bff;
  }

  .--hr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  .react-multiple-carousel__arrow{
    z-index: 10;
  }

  /* Flex */
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}