.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.category {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s;
    text-align: center;
    padding: 1rem;
    .--btn{
        font-size: 1rem;
    }
}

.category:hover {
    transform: translateY(-5px);
}

.category h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.category img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.category img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .category {
        padding: 0.5rem;
    }

    .category h3 {
        font-size: 1.5rem;
    }

    .--btn {
        font-size: 1.4rem;
        padding: 4px 6px;
    }
}